nav(class="navbar navbar-expand-sm navbar-dark bg-dark")
    div(class="container-fluid")
        a(class="navbar-brand", type="button", href="/") #{data.client.user.username}
        //- span(class="navbar-toggler-icon") 

    div(class="collapse navbar-collapse")
        ul(class="navbar-nav")
            li(class="nav-item")
                a(class="nav-link") Home